body {
    background-image: url("forest.jpg");
    background-size: 100% 300%;
    background-repeat: no-repeat;
}
.pics{
    width: auto;
    float: left;
}
button {
    margin: 5px;
}
input[type="submit"] {
    border-radius: 5px;
}